@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap");

:root {
  --primary-color: #a7f3d0;
  --secondary-color: #6b7280;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: var(--primary-color);
}

#navigation {
  width: 100%;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

#container {
  width: 50%;
  margin: auto;
}

#stocks-container {
  width: 100%;
}

input {
  width: 100%;
  margin-bottom: 1rem;
  height: 4vh;
}

.input-label {
  display: block;
  margin-bottom: 0.3rem;
}

#btn {
  background-color: var(--secondary-color);
  color: white;
  margin-top: 2rem;
  text-align: center;
  padding: 0.3rem;
  font-size: large;
  border-radius: 0.5rem;
}

#output {
  text-align: center;
  margin-top: 0.4rem;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
